@import '../../styles/helpers';

.page-main {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.present-left-img-wrap {
  position: absolute;
  bottom: -50px;
  left: -279px;
  width: 750px;
  height: 640px;
  z-index: 2;

  @media @tablet {
    display: none;
  }
}

.present-bottom-img {
  width: 100%;
}

.present-top-img-wrap {
  position: absolute;
  top: -40px;
  right: -210px;
  width: 666px;
  height: 666px;
  z-index: 0;

  @media @tablet {
    display: none;
  }
}

.present-top-img {
  width: 100%;
}

@media (max-width: 1024px) {
  .present {
    display: none;
  }

  .present-1 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .page-main {
    max-width: 600px;
    margin: 0 auto;
  }
}
